.index_swiper{
  swiper{
    width:750rpx;
    height: 500rpx;
    image{
      width:100%;
    }
  }
}
.index_cate{
  display: flex;
  text-align: center;
  navigator{
    margin:30rpx;
    flex:1;
    image{
      width:95%;
    }
  }
}
